/* Figma Styles of your File */
:root {
  /* Colors */
  --text-default: #0e1011;
  --text-muted: rgba(14, 16, 17, 0.6);
  --text-inverse: #ffffff;
  --text-inverse-muted: rgba(255, 255, 255, 0.6);
  --background-default: #ffffff;
  --background-muted: #f8f8f8;
  --background-muted-2: #eeeeee;
  --background-primary: #0e1011;
  --background-inverse-muted: #181a1b;
  --background-inverse-muted-2: #1f2122;
  --border-default: #e8e8e8;
  --border-inverse: rgba(255, 255, 255, 0.2);
  --icon-default: #0e1011;
  --icon-inverse: #ffffff;

  /* Fonts */
  --heading-xxlarge-font-family: AntonSc-Regular, sans-serif;
  --heading-xxlarge-font-size: 320px;
  --heading-xxlarge-line-height: 100%;
  --heading-xxlarge-font-weight: 400;
  --heading-xxlarge-font-style: normal;
  --heading-xlarge-font-family: AntonSc-Regular, sans-serif;
  --heading-xlarge-font-size: 240px;
  --heading-xlarge-line-height: 100%;
  --heading-xlarge-font-weight: 400;
  --heading-xlarge-font-style: normal;
  --heading-large-font-family: AntonSc-Regular, sans-serif;
  --heading-large-font-size: 192px;
  --heading-large-line-height: 100%;
  --heading-large-font-weight: 400;
  --heading-large-font-style: normal;
  --heading-medium-font-family: AntonSc-Regular, sans-serif;
  --heading-medium-font-size: 160px;
  --heading-medium-line-height: 100%;
  --heading-medium-font-weight: 400;
  --heading-medium-font-style: normal;
  --heading-small-font-family: AntonSc-Regular, sans-serif;
  --heading-small-font-size: 128px;
  --heading-small-line-height: 100%;
  --heading-small-font-weight: 400;
  --heading-small-font-style: normal;
  --heading-h1-font-family: AntonSc-Regular, sans-serif;
  --heading-h1-font-size: 96px;
  --heading-h1-line-height: 110%;
  --heading-h1-font-weight: 400;
  --heading-h1-font-style: normal;
  --heading-h2-font-family: AntonSc-Regular, sans-serif;
  --heading-h2-font-size: 80px;
  --heading-h2-line-height: 110%;
  --heading-h2-font-weight: 400;
  --heading-h2-font-style: normal;
  --heading-h3-font-family: AntonSc-Regular, sans-serif;
  --heading-h3-font-size: 64px;
  --heading-h3-line-height: 110%;
  --heading-h3-font-weight: 400;
  --heading-h3-font-style: normal;
  --heading-h4-font-family: AntonSc-Regular, sans-serif;
  --heading-h4-font-size: 48px;
  --heading-h4-line-height: 130%;
  --heading-h4-font-weight: 400;
  --heading-h4-font-style: normal;
  --heading-h5-font-family: AntonSc-Regular, sans-serif;
  --heading-h5-font-size: 32px;
  --heading-h5-line-height: 130%;
  --heading-h5-font-weight: 400;
  --heading-h5-font-style: normal;
  --heading-h6-font-family: AntonSc-Regular, sans-serif;
  --heading-h6-font-size: 24px;
  --heading-h6-line-height: 130%;
  --heading-h6-font-weight: 400;
  --heading-h6-font-style: normal;
  --heading-alt-small-font-family: Inter-SemiBold, sans-serif;
  --heading-alt-small-font-size: 80px;
  --heading-alt-small-line-height: 120%;
  --heading-alt-small-font-weight: 600;
  --heading-alt-small-font-style: normal;
  --heading-alt-h1-font-family: Inter-SemiBold, sans-serif;
  --heading-alt-h1-font-size: 64px;
  --heading-alt-h1-line-height: 130%;
  --heading-alt-h1-font-weight: 600;
  --heading-alt-h1-font-style: normal;
  --heading-alt-h2-font-family: Inter-SemiBold, sans-serif;
  --heading-alt-h2-font-size: 48px;
  --heading-alt-h2-line-height: 130%;
  --heading-alt-h2-font-weight: 600;
  --heading-alt-h2-font-style: normal;
  --heading-alt-h3-font-family: Inter-SemiBold, sans-serif;
  --heading-alt-h3-font-size: 40px;
  --heading-alt-h3-line-height: 140%;
  --heading-alt-h3-font-weight: 600;
  --heading-alt-h3-font-style: normal;
  --heading-alt-h4-font-family: Inter-SemiBold, sans-serif;
  --heading-alt-h4-font-size: 32px;
  --heading-alt-h4-line-height: 130%;
  --heading-alt-h4-font-weight: 600;
  --heading-alt-h4-font-style: normal;
  --heading-alt-h5-font-family: Inter-SemiBold, sans-serif;
  --heading-alt-h5-font-size: 26px;
  --heading-alt-h5-line-height: 130%;
  --heading-alt-h5-font-weight: 600;
  --heading-alt-h5-font-style: normal;
  --text-xxlarge-font-family: Inter-Regular, sans-serif;
  --text-xxlarge-font-size: 32px;
  --text-xxlarge-line-height: 160%;
  --text-xxlarge-font-weight: 400;
  --text-xxlarge-font-style: normal;
  --text-xlarge-font-family: Inter-Regular, sans-serif;
  --text-xlarge-font-size: 28px;
  --text-xlarge-line-height: 160%;
  --text-xlarge-font-weight: 400;
  --text-xlarge-font-style: normal;
  --text-large-font-family: Inter-Regular, sans-serif;
  --text-large-font-size: 24px;
  --text-large-line-height: 170%;
  --text-large-font-weight: 400;
  --text-large-font-style: normal;
  --text-medium-font-family: Inter-Regular, sans-serif;
  --text-medium-font-size: 22px;
  --text-medium-line-height: 170%;
  --text-medium-font-weight: 400;
  --text-medium-font-style: normal;
  --text-default-font-family: Inter-Regular, sans-serif;
  --text-default-font-size: 20px;
  --text-default-line-height: 180%;
  --text-default-font-weight: 400;
  --text-default-font-style: normal;
  --text-small-font-family: Inter-Regular, sans-serif;
  --text-small-font-size: 18px;
  --text-small-line-height: 180%;
  --text-small-font-weight: 400;
  --text-small-font-style: normal;
  --text-xsmall-font-family: Inter-Regular, sans-serif;
  --text-xsmall-font-size: 16px;
  --text-xsmall-line-height: 180%;
  --text-xsmall-font-weight: 400;
  --text-xsmall-font-style: normal;
  --text-meta-font-family: Gambetta-MediumItalic, sans-serif;
  --text-meta-font-size: 30px;
  --text-meta-line-height: 100%;
  --text-meta-font-weight: 500;
  --text-meta-font-style: italic;
  --components-button-font-family: Inter-SemiBold, sans-serif;
  --components-button-font-size: 22px;
  --components-button-line-height: 100%;
  --components-button-font-weight: 600;
  --components-button-font-style: normal;
  --components-button-text-font-family: Inter-SemiBold, sans-serif;
  --components-button-text-font-size: 22px;
  --components-button-text-line-height: 100%;
  --components-button-text-font-weight: 600;
  --components-button-text-font-style: normal;
  --components-nav-font-family: Inter-SemiBold, sans-serif;
  --components-nav-font-size: 26px;
  --components-nav-line-height: 130%;
  --components-nav-font-weight: 600;
  --components-nav-font-style: normal;
  --components-navbar-font-family: Inter-SemiBold, sans-serif;
  --components-navbar-font-size: 22px;
  --components-navbar-line-height: 100%;
  --components-navbar-font-weight: 600;
  --components-navbar-font-style: normal;

  /* Effects */
}
